/* .conteiner-bar{
    float: left;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    height: 100vh;
    top: 0; left: 0;
} */

.conteiner-bar{
    width: 100px;
    max-width: 250px;
    background: #1c1c1c;
    height: 150vh;
    position: relative;
}


.elements-bar a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.elements-bar a:hover{
    border-left: 5px solid #c7c7c7;
}

.block{
    background: rgb(15, 15, 15);
    height: 15vh;
    width: 100px;
}
