.conteiner-body{
    margin-left: 250px;
    text-align: center;
}

.separator{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    width: auto;
    background-color: rgb(202, 202, 202);
    border-radius: 2px;
}



